* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
   max-width: 1400px;
   margin: 0 auto;
   height: 100%;
}

.header {
  width: 100%;
  background-color: $backgrounLighter;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

}
.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: $backgroundDarker;
    width: 100%;
    border: solid, 2px black;
}
.header-section {

}
.header-link {
    font-size: 24px;
    text-decoration-line: none;
    color: white;
    transition: 0.4s;
    &:hover {
        color: rgb(232, 181, 181);
        text-decoration: underline ;
        transition: 0.4s;
    }
}

