*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    max-width: 1400px;
   margin: 0 auto;
   height: 100%;
}

.header {
    width: 100%;
  background-color: $backgrounLighter;
}
.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: $backgroundDarker;
    width: 100%;
    height: 40px;
    border: solid, 2px black;
}
.header-section {

}
.header-link {
    font-size: 24px;
    text-decoration-line: none;
    color: white;
}
